@import "tailwindcss";

/* Kendi özel renklerimizi ve değişkenlerimizi buraya tanımlıyoruz */
@theme {
  --color-background: #020617;
  --color-foreground: #ffffff;
}

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Fontun daha güzel görünmesi için */
  font-family: Arial, Helvetica, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}